<!DOCTYPE html>
<html>
  <head>
    <title>Buy Item {{ item.id }}</title>
  </head>
  <body>
    <h1>Item {{ item.id }}</h1>
    <p>Description of Item {{ item.id }}</p>
    <p>Name: {{ item.name }}</p>
    <p>Description: {{ item.description }}</p>
    <p>Price: {{ item.price }}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/{{ item.id }}', {method: 'GET'})
           .then((response) => response.json())
           .then((data) => console.log(data));

      });
    </script>
  </body>
</html>

